<!DOCTYPE html>
<head>
	<link rel="icon" href="/partials/favicon.ico" />
	<title>Window Shopping</title>
	<link rel="stylesheet" href="/partials/header.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	
	<div class="header-container">
		<div id="website-details-container">
			<div id="logo-container" >
				<a href="/products"><img id="logo" src="/partials/logo.png" alt="logo" ></img></a>
			</div>
			<a href="/products" id="website-name">Window Shopping</a>
		</div>
		<div><a href ="/" class="item">Home</a><a href ="/products/all" class="item">All</a><a href ="/products/new" class="item">New</a><a href="/products/about" class="item">About</a></div>
	</div>
	<div class="spacer">
		&nbsp;
	</div>




