<% include ./partials/header %>

<head>
<link rel="stylesheet" href="/views/about.css">
</head>
<body>

    <div class="row">
        <div class="column">
          <img src="https://miro.medium.com/max/1018/1*iAu65xDmvpVdBJgps6EDEw.png" alt="Snow" style="width:100%">
        </div>
        <div class="column" id="text">
            <p>Launched in 2006, Shopping Windows the first one-of-its kind large format specialist retail store that catered to all multi-brand digital gadgets and home electronic needs in India. Over a decade since its inception, Shopping Windowhas almost become synonyms for all electronics needs, with its tech-savvy staff, product range, Staged presence and the will to help customers.
                <br/>
                <br/>
                Bringing alive the promise of a ‘Brighter Every Day’ for its customers, Shopping Windowoffers its customers a world-class ambience to shop both in-store  and also allows for a seamless ‘omni-channel’ shopping experience that lets a customer enjoy the best of both the Staged & the offline worlds. With over 6000 products across 200 brands and 150+ stores across 40+ major cities of India, Shopping Windows that for each customer, a Brighter Tomorrow begins Today! From the newlywed couple setting up their house to the son reducing his mother’s burden with a washing machine; from the daughter gifting her parents a new LED TV to the newly promoted manager buying an inverter air-conditioner to make the summer bearable, Shopping Window  ensures that customers always get ‘More for their money’!</p>

        </div>
       
        </div>
    <div class="row">
        <div class="column" id ="text">
            <p>Launched in 2006, Shopping Windows the first one-of-its kind large format specialist retail store that catered to all multi-brand digital gadgets and home electronic needs in India. Over a decade since its inception, Shopping Windowhas almost become synonyms for all electronics needs, with its tech-savvy staff, product range, Staged presence and the will to help customers.
                <br/>
                <br/>
                Bringing alive the promise of a ‘Brighter Every Day’ for its customers, Shopping Windowoffers its customers a world-class ambience to shop both in-store and  also allows for a seamless ‘omni-channel’ shopping experience that lets a customer enjoy the best of both the Staged & the offline worlds. With over 6000 products across 200 brands and 150+ stores across 40+ major cities of India, Shopping Windowensures that for each customer, a Brighter Tomorrow begins Today! From the newlywed couple setting up their house to the son reducing his mother’s burden with a washing machine; from the daughter gifting her parents a new LED TV to the newly promoted manager buying an inverter air-conditioner to make the summer bearable, Shopping Window ensures that customers always get ‘More for their money’!</p>

        </div>
        <div class="column">
          <img src="https://static.vecteezy.com/system/resources/previews/006/388/780/original/the-cart-is-placed-on-the-mobile-phone-shopping-bags-inside-online-shopping-concept-illustration-decorated-with-credit-card-boxes-branches-on-a-pink-background-design-for-website-promotion-vector.jpg" alt="Snow" style="width:100%">
           

        </div>
       
        </div>
    <div class="row">
        <div class="column">
          <img src="https://thumbs.dreamstime.com/b/online-shopping-website-laptop-screen-female-hands-using-smartphone-55061495.jpg" alt="Snow" style="width:100%">

        </div>
       
        <div class="column" id ="text">
            <p>Launched in 2006, Shopping Windows the first one-of-its kind large format specialist retail store that catered to all multi-brand digital gadgets and home electronic needs in India. Over a decade since its inception, Shopping Windows almost become synonyms for all electronics needs, with its tech-savvy staff, product range, Staged presence and the will to help customers.
                <br/>
                <br/>
                Bringing alive the promise of a ‘Brighter Every Day’ for its customers, Shopping Windowoffers its customers a world-class ambience to shop both in-store also allows for a seamless ‘omni-channel’ shopping experience that lets a customer enjoy the best of both the Staged & the offline worlds. With over 6000 products across 200 brands and 150+ stores across 40+ major cities of India, Shopping Windowensures that for each customer, a Brighter Tomorrow begins Today! From the newlywed couple setting up their house to the son reducing his mother’s burden with a washing machine; from the daughter gifting her parents a new LED TV to the newly promoted manager buying an inverter air-conditioner to make the summer bearable, Shopping Window ensures that customers always get ‘More for their money’!</p>

        </div>
        </div>

</body>
</html>
<% include ./partials/footer %>
