@import url('https://fonts.cdnfonts.com/css/buffalo');
.header-container {
    background-color: rgb(rgb(243, 246, 249));
    height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position:fixed;
    background-color:white !important;
    box-shadow: 0px 0px 8px 2px #24222219;
    z-index: 999 !important;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
#website-details-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;

}

#logo {
    height: 100px;
    width:auto;
}

.item {
    color:rgb(0, 200, 255);
    margin-right: 30px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#website-name {
    font-size: 3.5em;
    flex-grow: 1;
    color:rgb(0, 200, 255);
    font-family: 'buffalo', sans-serif;
    text-decoration: none;
}

.spacer {
    height: 150px;
}